# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# Server Configuration
JWT_SECRET=altere-isso-em-producao-use-uma-string-longa-e-aleatoria
NODE_ENV=development
PORT=3000
